body {
    background-color: #EFF6FF;
    font-family: Barlow;
    color: #2A4A5C;
    font-size: .8em;
    transition: none !important;
}

.container {
    margin: 80px auto;
    width: 96%;
    max-width: 960px;
    height: 630px;
    background-color: white;
    min-height: 500px;
    display: flex;
    position: relative;
}

.left {
    width: 50%;
    height: 100%;
    background-image: url("../img/bg.jpg");
    background-size: 480px;
    background-repeat: no-repeat;
    background-color: #397ce7;
}

.right {
    display: inline-block;
    width: 50%;
    height: 100%;
    padding-left: 50px;
    padding-top: 30px;
}


inline.line {
    display: inline-block;
    width: 80px;
    border-top: 1px solid #EEEEEE;
    vertical-align: middle;
    margin: 0 8px;
}

.or {
    text-align: center;
    padding-right: 38px;
    margin: 20px 0 20px 0;
    font-size: .8em;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.email-container label {
    font-size: .8em;
}

.facebook, .in {
    padding: 10px 30px;
    color: #EEEEEE;
    margin: 10px 0 10px 0;
    min-width: 135px;
    cursor: pointer;
    transition: .3s;
}
.facebook:hover, .in:hover {
    filter: brightness(120%);
}

.in {
    background-color: #0076B6 ;
}

.facebook {
    background-color: #255A9B;
    margin-right: 30px;
}

.input-box {
    border: 1px solid grey;
    padding-left: 10px;
    min-width: 183px;
    padding-bottom: 3px;
    margin: 10px 0 10px 0;
}

.input-box > label {
    color: #AFAFAF;
}

.input-box:first-child {
    margin-right: 30px;
}

.input-box:hover  #email, .input-box:hover #phone {
    background-color: #f0f6ff;
}

.input-box:hover {
    background-color: #f0f6ff;
}

#email, #phone {
    border: none;
}

input:focus, input:hover {
    outline: none;
}
.email-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#facebook-span:before {
    content: '';
    background-image: url("../img/facebook.svg");
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -25px;
    margin-top: 0px;
    background-repeat: no-repeat;

}

#linkedin-span:before {
    content: '';
    background-image: url("../img/linkedin.svg");
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    -webkit-background-size: 15px;
    background-size:15px;
    margin-left: -23px;
    margin-top: -1px;
    background-repeat: no-repeat;
}

#logo {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../img/logo.svg");
    background-size: 85px;
    background-repeat: no-repeat;
    top: 30px;
    left: 35px;
}

.select-group {
    display: flex;
    flex-wrap: wrap;

}

.select-item {
    margin: 0 10px 10px 0;
}

.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radio + label {
    position: relative;
    padding: 0 0 0 25px;
    cursor: pointer;
}

.radio + label:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #3689ec;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: border .1s linear;
    z-index: 1;
}

.radio + label:after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #3689ec;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: border .1s linear;
    z-index: 1;
    opacity: 0;
}

.radio:checked + label:after {
    opacity: 1;
}

.radio:checked + label:before {
    border-color: darkblue;
}

#pop-up-1, #pop-up-2, #pop-up-3, #pop-up-4 {
    position: absolute;
    display: none;
    box-shadow: 0 0 25px #AFAFAF;
    width: 240px;
    height: 60px;
    font-size: .85em;
    padding: 5px 10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    top: 40px;
    left: -15px;
    color: #AFAFAF;
}

#radio-1 + label:hover #pop-up-1 {
    display: block;
}

#radio-2 + label:hover #pop-up-2 {
    display: block;
}

#radio-3 + label:hover #pop-up-3 {
    display: block;
    left: -65px;
}

#radio-4 + label:hover #pop-up-4 {
    display: block;
    left: -165px;

}

#checkbox {
    margin: 110px 10px 0 0;
}

#submit {
    border: none;
    background-color: #3698FB;
    margin-top: 20px;
    width: 240px;
    height: 40px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all .8s;
}

#submit:hover {
    background-color: #396ddb;
}